# OS and editor files
.DS_Store
.vscode/
.devcontainer/
.editorconfig
.prettierignore
.prettierrc.yml

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Jupyter artifacts
**/.ipynb_checkpoints/

# Temporary files
**/~*
**/._*

# Bash/session artifacts
**/.dir_bash_history

# Test output or temporary test scripts
**/test_output*
**/test*
# (keep this broad if needed, or fine-tune)

# Archive directories
archive/
archive*/              # e.g., archive_v1/
**/archive*/           # nested versions

# Ignore unnecessary files and folders for building the app
methtools.egg-info/
build/
dist/

# Pylance / Pyright config
pyrightconfig.json
